body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: radial-gradient(teal, black) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #003F3F !important;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width:70%;
  height: 100vh;
  margin: 0 auto;
}

.Header {
  width: 100%;
  margin-bottom: 1rem;
}

.searchForm input:focus {
  box-shadow: none;
}

.search-label {
  position: absolute;
  left: -999999px;
}

.search-btn {
  border-radius: 5px 0 0 5px !important;
  color: teal !important;
}

.search-btn:hover {
  color: #003F3F !important;
}

/* Content styling */
.Home, .NewPost, .PostPage, .About, .Missing, .EditPost {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.navbar-brand a, .nav-item a {
  text-decoration: none;
  color: white;
}

.navbar-brand a:hover, .nav-item a:hover {
  color: green;
}

/* Post Card styling */
.post-card a , .PostPage h2, h6, hr{
  color: teal;
}

.post-card a:hover {
  color: #003F3F;
}

.post-card h6, .PostPage h6 {
  font-size: .8rem;
}

/* Footer Styling */
.Footer {
  position: sticky;
  top: 100%;
}

